Cython
EasyDict==1.7
opencv-python==4.4.0.42
numpy==1.19.2
shapely>=1.6.4
scipy
pandas
pyyaml
json-tricks>=3.15.2
scikit-image
scikit-learn
yacs>=0.1.5
tensorboardX==2.1
pycocotools
matplotlib==3.3.1
tqdm==4.48.2
